.formContainer {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin-bottom: 48px;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.addUrlContainer {
  display: flex;
  gap: 10px;
}

.inputContainer {
  display: flex;
}

.formControl {
  max-width: 100%;
}

.input {
  width: 380px;
}

.actionText {
  font-size: 12px;
}

.actionButton {
  padding-block: 6px !important;
}

.addButton {
  padding-inline: 12px !important;
}
